{{ form_start(jobForm) }}

    {{ form_row(jobForm.step1_project, {
        'label': 'Project name (original)'
    }) }}
    {{ form_row(jobForm.subFamily, {
        'label': 'Project name (normalized)'
    }) }}

    {{ form_row(jobForm.name, {
        'label': 'Job name (normalized)'
    }) }}
    {{ form_row(jobForm.description) }}
    {{ form_row(jobForm.isPublished) }}
    {{ form_row(jobForm.datePosted) }}
    {{ form_row(jobForm.step1_id) }}
    {{ form_row(jobForm.step1_statistics) }}
    {{ form_row(jobForm.step1_downloadedTime) }}
    {{ form_row(jobForm.step1_html) }}
    {{ form_row(jobForm.step1_url) }}

    <button type="submit" class="btn btn-primary" formnovalidate>{{ buttonText }}</button>

{{ form_end(jobForm) }}
